@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center bg-gradient text-contrast rounded-3 border border-4 border-gold w-50 w- mx-auto p-4">
<h1>Admin Dashboard</h1>
	<ul class="list-unstyled text-decoration-none">
        <li>
				<a class="text-decoration-none text-contrast btn btn-primary mb-3" asp-action="Bookings">Hantera bokningar</a>
        </li>
		<li>
				<a class="text-decoration-none text-contrast btn btn-primary mb-3" asp-action="Tables">Hantera bord</a>
		</li>
		<li>
				<a class="text-decoration-none text-contrast btn btn-primary" asp-action="Menu">Hantera meny</a>
		</li>
    </ul>
</div>