@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin Dashboard</h1>
<div>
    <ul>
        <li>
			<a asp-action="Bookings">Hantera bokningar</a>
        </li>
		<li>
			<a asp-action="Tables">Hantera bord</a>
		</li>
		<li>
			<a asp-action="Menu">Hantera meny</a>
		</li>
    </ul>
</div>