@model IList<Course>
@{
    ViewData["Title"] = "Meny";
}
<div class="text-center bg-gradient text-contrast rounded-3 border border-4 border-gold w-50 mb-4 mx-auto p-4">
	<h1 class="text-center fw-bold">Vår Meny</h1>
</div>
<div class="text-center bg-gradient text-contrast rounded-3 border border-4 border-gold w-25 mb-4 mx-auto p-4">
	@if (Model.Any())
{
	<div class="text-center">
		@foreach (var course in Model)
		{
			<div class="course-item mb-4 p-3">
				<h4 class="course-name">@course.CourseName</h4>
				<p class="course-description">@course.Description</p>
				<p class="course-price">Pris:@course.Price kr</p>
			</div>
		}
	</div>
}
else
{
	<h3 class="text-center">Menyn kunde inte laddas</h3>
}
</div>